*{
    @include reset
}
@import "../utilidades/mixin";
@import "../utilidades/variables";

form{
    @include flex;
    width: 100%;
    font-size: 20px;
}
img{
    width: 50%;
    border-radius: 10px;
}
@media screen and (min-width: 1024px){
    
    .section__form{
    @include grid(grid, 70% 30%, 1);
        
        form{
            width: 100%;
        }
        h4{
            text-align: center;
            
        }
        h5{
            text-align: center;
        }
        img{
            width: 300px;
        }
    }

  


    
    h4 {
        @include sizesubtitle
    }
    h5{
      @include sizesubtitle
    }

}