@import "../utilidades/variables";
@import "../utilidades/mixin";

*{
    @include reset
}


/* mobile */
.main__galeria{
    grid-template-columns: 1fr;
}
.section2__grid{
     img{
    padding: 10px;
    width: 70%;
    border-radius: 30px;
}

video{
    width: 90%;
}
p{

    padding: 5px;
}
}
    .imagenes2{
        color: whitesmoke;
        justify-items: center;
        background-color: $secondary-color;
     @include grid(grid, repeat(1), repeat (1));
        H2{
            font-family: $font-principal;
            color: whitesmoke;
            font-weight: 600;
        }  
        img{
            width: 70%;
            border-radius: 10px;
        }
        p{
            padding: 5px;
            text-align: center;
        }
    }

/* meidaquery tablet */
@media screen and (min-width: 768px){
    .section2__grid p{
        font-size: 18px;
    }

    .imagenes2 p{
        font-size: 18px;
    }
} 
    


/* mediaquery desktop galeria */
@media screen and (min-width: 1024px){
    .main__galeria{
        grid-template-columns: repeat(3,1fr);
    }

    .section2__grid{
        @include grid (grid, repeat(3,1fr), repeat(2, 1fr));
        justify-items: center;
          img{
                width: 500px;
                border-radius: 20px;    
                grid-row: 2;
    }

    p{
        padding: 10px 5px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        font-size: 20px;
        grid-column: 3;
        grid-row: 1;
        text-align: center;
        margin: 10px;

    }
    video{
        grid-column: span 2;
        width: 900px;
        padding: 10px;
    }
    }

    .imagenes2{
        color: whitesmoke;
        align-items: center;
        background-color: $secondary-color;
     @include grid(grid, repeat(2,1fr), repeat (3,1fr));
        H2{
            font-family: $font-principal;
            color: whitesmoke;
            font-weight: 600;
        }  
        img{
            width: 780px;
            border-radius: 30px;
            padding: 10px;
        }
        p{    
            padding: 10px 5px;
            font-size: 30px; 
        }
      .raquetas{
        grid-column: 1;
      }
    }
}