@import "../utilidades/variables";
@import "../utilidades/mixin";

*{
    @include reset
}


/* mobile */
.main__galeria{
    grid-template-columns: 1fr;
}
.section2__grid img{
    padding: 10px;
    width: 70%;
    border-radius: 30px;
}

    .imagenes2{
        color: whitesmoke;
        justify-items: center;
        background-color: $secondary-color;
     @include grid(grid, repeat(1), repeat (1));
        H2{
            font-family: $font-principal;
            color: whitesmoke;
            font-weight: 600;
        }  
        img{
            width: 70%;
            border-radius: 10px;
        }
   
    }



/* mediaquery desktop galeria */
@media screen and (min-width: 1024px){
    .main__galeria{
        grid-template-columns: repeat(3,1fr);
    }

    .section2__grid{
        @include grid (grid, repeat(3,1fr), repeat(2, 1fr));
        justify-items: center;
          img{
                width: 500px;
                border-radius: 20px;    
                grid-row: 2;
    }

    p{
        font-size: 17px;
        grid-column: 3;
        grid-row: 1;
        text-align: center;
        margin: 10px;
    }
    video{
        grid-column: span 2;
        width: 900px;
        padding: 10px;
    }
    }

    .imagenes2{
        color: whitesmoke;
        justify-items: center;
        background-color: $secondary-color;
     @include grid(grid, repeat(2,1fr), repeat (3,1fr));
        H2{
            font-family: $font-principal;
            color: whitesmoke;
            font-weight: 600;
        }  
        img{
            padding: 10px;
            width: 790px;
            border-radius: 30px;
        }
        p{
            
            font-size: 30px;
            text-align: center;

        }
      .raquetas{
        grid-column: 1;
      }
    }
}